numpy
torch
pandas
scikit-learn
torch_geometric
torch_cluster -f https://pytorch-geometric.com/whl/torch-2.8.0+cpu.html
torch_scatter -f https://pytorch-geometric.com/whl/torch-2.8.0+cpu.html
torch_sparse -f https://pytorch-geometric.com/whl/torch-2.8.0+cpu.html
networkx
torch-spatiotemporal
rpy2
python-louvain
maturin
patchelf
einops
